<main class="site-wrapper">
    <div class="pt-table desktop-768">
        <div class="pt-tablecell page-home">
        <div class="overlay">

        </div>
  
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                    <div class="page-title  home text-center">
                    <span class="heading-page"> Restaurant</span>
                        
                    </div>
                    <div class="hexagon-menu clear">
                        <div class="hexagon-item">
                            <div class="hex-item">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <div class="hex-item hex-item">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <a  class="hex-content">
                                <span class="hex-content-inner">
                                    <span class="icon">
                                        <i class="fa fa-universal-access"></i>
                                    </span>
                                    <span class="title">Welcome</span>
                                </span>
                            </a>
                        </div>
                        <div class="hexagon-item">
                            <div class="hex-item">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <div class="hex-item">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <a  class="hex-content">
                                <span class="hex-content-inner">
                                    <span class="icon">
                                        <i class="fa fa-bullseye"></i>
                                    </span>
                                    <span class="title">About</span>
                                </span>
                            </a>
                        </div>
                        <div class="hexagon-item">
                            <div class="hex-item">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <div class="hex-item">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <a  class="hex-content">
                                <span class="hex-content-inner">
                                    <span class="icon">
                                        <i class="fa fa-braille"></i>
                                    </span>
                                    <span class="title">Services</span>
                                </span>
                            </a>    
                        </div>
                        <div class="hexagon-item">
                            <div class="hex-item">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <div class="hex-item">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <a  class="hex-content">
                                <span class="hex-content-inner">
                                    <span class="icon">
                                        <i class="fa fa-id-badge"></i>
                                    </span>
                                    <span class="title">Resume</span>
                                </span>
                            </a>
                        </div>
                        <div class="hexagon-item">
                            <div class="hex-item">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <div class="hex-item">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <a  class="hex-content">
                                <span class="hex-content-inner">
                                    <span class="icon">
                                        <i class="fa fa-life-ring"></i>
                                    </span>
                                    <span class="title">Works</span>
                                </span>
                                
                            </a>
                        </div>
                        <div class="hexagon-item">
                            <div class="hex-item">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <div class="hex-item">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <a  class="hex-content">
                                <span class="hex-content-inner">
                                    <span class="icon">
                                        <i class="fa fa-clipboard"></i>
                                    </span>
                                    <span class="title">Testimonials</span>
                                </span>
                                
                            </a>
                        </div>
                        <div class="hexagon-item">
                            <div class="hex-item">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <div class="hex-item">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <a  class="hex-content" href="/Login">
                                <span class="hex-content-inner">
                                    <span class="icon">
                                        <i class="fa fa-map-signs"></i>
                                    </span>
                                    <span class="title">Login</span>
                                </span>
                            </a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</main>